body {
  background-color: black;
}
p {
 color:blue; 
}
h1 {
  color:blue;
  font-size: 70px
 }

p {
    border-style: solid;
    border-color: blue;
    width: 400px;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    
}

li {
    float: left;
}

li {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-width: 1px;
    border-color: blue;
    font-size: 50px;
  
  
}

li a:hover {
  background-color: gray;
}



li {
    border-right: 1px solid #bbb;
    border-style: solid;
    border-color: blue;
}

li:last-child {
    border-right: none;
}
