body {
  background-color: #696969;
}
p {
 color:#F8F8FF; 
}
h1 {
  color: #4CAF50;
  font-size: 70px
 }

p {
    border-style: solid;
    border-color: #4CAF50;
    width: 400px;
    font-size: 20px;
}





ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 30px
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #4CAF50;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

