body {
  background-color: #696969;
}
p {
 color:#F8F8FF; 
}
h1 {
  color: #4CAF50;
  font-size: 70px
 }

td {
  border-style: solid;
  border-color: #4CAF50;
}

th {
  border-style: solid;
  border-color: #4CAF50;
}

p {
    border-style: solid;
    border-color: #4CAF50;
    width: 600px;
    font-size: 30px;
  float: bottom;
}

table{ 
  border-style: solid;
  border-color: #4CAF50;
  color:#F8F8FF; 
}

h6 {
 
    border-style: solid;
    border-color: #4CAF50;
    width: 600px;
    font-size: 30px;
    float: bottom;
}

img {
  float: center;
  float: middle;
  
}


